:root {
    --clr-primary-400: hsl(35, 77%, 62%);
    --clr-primary-500: hsl(5, 85%, 63%);

    --clr-neutral-200: hsl(36, 100%, 99%);
    --clr-neutral-300: hsl(233, 8%, 69%);
    --clr-neutral-400: hsl(236, 13%, 42%);
    --clr-neutral-800: hsl(240, 100%, 5%);

    --ff-main: "Inter", sans-serif;

    --fs-400: .9375rem;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-xbold: 800;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: var(--ff-main);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
    font-weight: var(--fw-xbold);
    font-size: 2.1rem;
    margin-block: 1rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container {
    width: 85%;
    max-width: 550px;
    margin-inline: auto;
}

/* *********************************************************************
header
********************************************************************** */

nav {
    display: flex;
    justify-content: space-between;
    margin-block: 1.2rem;
}

nav img {
    width: 2.5rem;
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nav-links a:hover {
    color: var(--clr-primary-500);
}

.nav-toggle {
    display: none;
}

@media(max-width: 1000px) {

    .nav-links {
        position: fixed;
        background-color: var(--clr-neutral-200);
        inset: 0 0 0 50%;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
        padding-left: 3rem;
        background-color: white;
        z-index: 100;
    }

    .nav-links a {
        margin-bottom: 1.5rem;
    }

    .nav-toggle {
        position: absolute;
        background: url(assets/images/icon-menu.svg) no-repeat;
        border: 0;
        aspect-ratio: 1;
        width: 2.5rem;
        right: 4rem;
        z-index: 9999;
        display: block;
    }
}

.overlay {
    position: fixed;
    inset: 0 0% 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* *********************************************************************
main
********************************************************************** */

main a {
    font-size: 13px;
    font-weight: bold;
    color: var(--clr-neutral-200);
    background-color: var(--clr-primary-500);
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
    padding-block: .7em;
}

main a:hover {
    background-color: var(--clr-neutral-800);
}


/* new section */

.new {
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-800);
    padding: 1.5rem 1rem;
    margin-block: 3rem;
}

.new h2 {
    font-size: 1.7rem;
    color: var(--clr-primary-400);
    margin-bottom: 1.6rem;
}

.new h3 {
    margin-bottom: .6rem;
    font-weight: var(--fw-xbold);
}

.new h3:hover {
    cursor: pointer;
    color: var(--clr-primary-400);
}

.new p {
    color: var(--clr-neutral-300);
}

hr {
    border: none;
    background-color: var(--clr-neutral-400);
    height: 1px;
    margin-block: 1.3rem;
}


/* latest insights section */

.trending {
    display: flex;
    margin-bottom: 2rem;
}

.trending img {
    width: 6rem;
    margin-right: 1.2rem;
}

.trending h2 {
    font-size: 1.7rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-300);
    letter-spacing: 1px;
}

.trending h3 {
    font-weight: var(--fw-bold);
}

.trending h3:hover {
    color: var(--clr-primary-500);
    cursor: pointer;
}

.trending p {
    color: var(--clr-neutral-400);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media (min-width: 1000px) {

    .container {
        max-width: 1000px;
    }

    nav {
        margin-block: 2rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .grid-item1 {
        grid-column: span 2;
    }

    .grid-item4 {
        margin: 0;
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}